<?xml version="1.0"?>
<config>
    <modules>
        <Worldview_Process>
            <version>0.0.1</version>
        </Worldview_Process>
    </modules>

    <global>
        <models>
            <worldview_process>
                <class>Worldview_Process_Model</class>
                <resourceModel>worldview_process_mysql4</resourceModel>
            </worldview_process>
        </models>
    
        <helpers>
            <worldview_process>
                <class>Worldview_Process_Helper</class>
            </worldview_process>
        </helpers>
    
        <blocks>
            <worldview_process>
                <class>Worldview_Process_Block</class>
            </worldview_process>
        </blocks>
        
        <resources>
            <worldview_process_setup>
                <setup>
                    <module>Worldview_Process</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </worldview_process_setup>
        </resources>
    </global>
</config>
